{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        metosin/reitit {:mvn/version "0.7.0"}
        metosin/malli {:mvn/version "0.13.0"}
        hiccup/hiccup {:mvn/version "2.0.0"}
        markdown-clj/markdown-clj {:mvn/version "1.11.7"}
        ring/ring-core {:mvn/version "1.11.0"}
        ring/ring-jetty-adapter {:mvn/version "1.11.0"}
        org.clojure/tools.cli {:mvn/version "1.0.219"}}

 :aliases
 {:dev {:main-opts ["-m" "mimas.server"]}
  :build {:main-opts ["-m" "mimas.build"]}
  :new {:main-opts ["-m" "mimas.new"]}
  :test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.87.1366"}}}}}
